{% extends "node/node_base.html" %} {% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">
        My transactions
    </legend>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sender ID</th>
                <th scope="col">Receiver ID</th>
                <th scope="col">Amount</th>
                <th scope="col">NBC sent</th>
                <th scope="col">Change</th>
            </tr>
        </thead>
        <tbody>
            {% for tr in page_obj %}
            <tr>
                <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
                {% if tr.0 == node.node_id %}
                    <td>Me</td>
                {% else %}
                    <td>{{ tr.0 }}</td>
                {% endif %}
                {% if tr.1 == node.node_id %}
                <td>Me</td>
                {% else %}
                <td>{{ tr.1 }}</td>
                {% endif %}
                <td>{{ tr.2 }}</td>
                <td>{{ tr.3 }}</td>
                <td>{{ tr.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
    {% endif %}
</div>
{% endblock content %}