
    {% extends "../noobcash/base.html" %} {% load crispy_forms_tags %} {% block content %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldsset class="form-group">
                    <legend class="border-bottom mb-4">
                        Login
                    </legend>
                    {{ form|crispy }}
                </fieldsset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                    <small class="text-muted ml-2"> <a href=""> Forgot Password?</a></small>
                </div>
            </form>
        </div>
    {% endblock content %}
    